#bt-btn-example-wrap .btn, .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#bt-btn-example-wrap .btn-default, .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#bt-btn-example-wrap .btn-primary, .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#bt-btn-example-wrap .btn-success, .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#bt-btn-example-wrap .btn-info, .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#bt-btn-example-wrap .btn-warning, .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#bt-btn-example-wrap .btn-danger, .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#bt-btn-example-wrap .btn-lg, .btn-lg {
   padding: 10px 16px;
   font-size: 18px;
   line-height: 1.3333333;
   border-radius: 6px;
}

#bt-btn-example-wrap .btn-sm, .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

#bt-btn-example-wrap .btn-xs, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}